body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 5px dashed black;
  width:350px;
  height:350px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading{
font-size:18px;
border-radius:10px;
letter-spacing: 10px;
}

.selfie_image{
  width:350px;
  height:350px;
}

.color{
  background-color: darkred;
}